---
layout: default
title: your awesome title
page-title: your awesome page-title.
home-title: your awesome home-title.
description: description
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="post-list">
      {% include posts_paginator.html %}
    </ul>
</main>
<script type="text/javascript" color="255,100,150" pointColor="255,100,150" opacity='0.7' zIndex="-2" count="199" src="./assets/js/canvas-nest.js"></script>
{% include pageNav.html %}
{% include footer.html %}
